.title {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: 0.15em;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.angular {
    color: #FF004D;
}

.nav-container1 {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    width: 50%;
    align-self: center;
}


.nav-container2 {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    width: 9%;
}

.icon {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-text {
    align-self: center;
}