.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 64px;
}

.angular {
    color: #FF004D;
    margin: 0 0px;
}


.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 15px 0;
}

.nav-container1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-self: center;
}


.nav-container2 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.navbar-profile-icon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar-logout-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: rgb(180, 4, 4);
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

.navbar-logout-icon:hover {
    color: red;
    filter: drop-shadow(0px 0px 1px rgba(167, 10, 10, 0.25));
}

.profile-text {
    align-self: center;
    margin: 0 10px;
}

.nav-item{
    color: black;
}