.uploadpost-container {
  background-color: #fff;
  box-shadow: 0px 5px 17px rgba(86, 19, 170, 0.2),
    0px 10px 33px 4px rgba(86, 19, 170, 0.25);
  border-radius: 10px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  /* height: 550px; */
}

.top {
  height: 40px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  margin: 0px 0px 12px;
}
.cross-logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.cross {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 4px;
  background-color: rgb(192, 192, 192);
}

.heading {
  margin: auto;
  font-weight: 600;
  font-size: 22px;
}

.post {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
}
.postContainer-1 {
  padding: 0px 8px;
}

.createpost-profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -5px;
}

.profile-text {
  font-weight: 500;
}

.option {
  border-radius: 6px;
  background-color: #f2e1fc;
  outline: none;
}

.textarea {
  width: 458px;
  border: none;
  outline: none;
  resize: none;
  font-size: 25px;
  padding: 2px 20px;
}

.addpost {
  padding: 10px;
  margin: 0px 20px;
  display: flex;
  flex-direction: row-reverse;
}

.post-img-box {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  max-height: 200px;
}

.post-img {
  width: 400px;
  /* min-height: 350px; */
  height: auto;
  object-fit: contain;
}

.PostLogo {
  margin: 0px 17px;
  width: 30px;
  height: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 447px;
  padding: 9px;
  margin: 15px;
  background-color: #a644e3;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
