.foot-container {
  width: 100vw;
  background-color: #814ac6;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: white;
  padding-bottom: 10px;
  margin: 0 -58px;
  margin-bottom: -10px;
}

.foot {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.foot a {
  color: white;
  text-decoration: none;
}
.foot p {
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.footbars {
  border-top: solid white 2px;
  text-align: center;
  border-bottom: solid white 2px;
  font-weight: 400;
}
