.grievanceForm {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.formTitle {
  font-size: 32px;
  font-weight: 500;
}

.form-top-inputs-cont .inputContainer {
    width: 46%;
}

.inputContainer {
    margin: 10px 0;
}

.inputLabel1,
.inputLabel2,
.inputLabel3 {
  height: 35px;
  font-size: 18px;
  color: black;
  margin-left: 12px;
}

.form-top-inputs-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.form-inputs {
  height: 85px;
  padding: 10px 10px;
  border: none;
  outline: none;
  width: 97%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(86, 19, 170, 0.25),
    0px 0px 35px rgba(86, 19, 170, 0.15);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  resize: none;
  font-size: 16px;
}

.form-top-inputs {
  height: 35px;
  width: 100%;
  padding: 0 10px;
}

.checkboxContainer {
  margin-top: 10px;
}

.checkbox {
  background: #ffffff;
  box-shadow: 0px 5px 17px rgba(86, 19, 170, 0.2),
    0px 10px 33px 4px rgba(86, 19, 170, 0.25);
  border-radius: 40px;
  width: 19.5px;
  height: 14.5px;
  outline: none;
  border: none;
}

.labelAnonymously {
  font-size: 18px;
  height: 36px;
  color: #000000;
  margin-left: 10px;
}

.buttonContainer {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSubmit {
  background: rgba(77, 0, 175, 0.71);
  box-shadow: 0px 5px 17px rgba(86, 19, 170, 0.2),
    0px 10px 33px 4px rgba(86, 19, 170, 0.25);
  border-radius: 30px;
  border: none;
  width: 170px;
  height: 50px;
  outline: none;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
