.grievance-container {
  font-family: "Poppins";
  background-color: #fff;
  padding: 30px;
  margin: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(86, 19, 170, 0.2),
    0px 0px 10px rgba(86, 19, 170, 0.15);
  background-color: white;
  width: 60%;
  height: auto;
  display: flex;
}

.grievance-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: grey;
}

.grievanve-logo {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: rgb(115, 0, 255);
}

.grievanve-logo img,
i {
  cursor: pointer;
}

.grievance-name {
  margin: 15px 0;
}

.more {
  display: none;
}
.grievance-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.read {
  display: flex;
  align-items: center;
}

.read-btn {
  border: none;
  outline: none;
  color: #848484;
  cursor: pointer;
}

.grievance-report-date {
  font-size: 13px;
  color: #848484;
}
