.homecontent{
  font-size: 24px;
  overflow-x: hidden;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10%;
  margin-bottom: -10%;
  font-family: 'Poppins', sans-serif;
}

.homecontent-txt-container {
  width: 50%;
}

.homecontent-txt {
  margin: 40px 0;
}

.homeImage-container {
  width: 45%;
  align-self: flex-end;
}

.homeImage {
  width: 110%;
}