.upload-post-wrapper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  cursor: pointer;
  margin-top: 30px;
}

.upload-post-cont {
  height: 150px;
  width: 350px;
  background-color: white;
  padding: 20px;
  border: 0px solid #a644e3;
  box-shadow: 0px 0px 5px rgba(86, 19, 170, 0.2),
    0px 0px 10px rgba(86, 19, 170, 0.15);
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reccontent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #615e5e;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.uploadpost-icon {
  width: 30px;
  height: 30px;
}

.upload-post-wrapper .profile-icon {
  width: 40px;
  height: 40px;
}
