.bigdiv {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 97.5vh;
  overflow-y: hidden;
  position: relative;
}

.title-login {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 124px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.regs-box-cont {
  width: 50%;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
}

.regs-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.regs-heading-box {
  margin: 0 30px;
  padding: 0px;
  text-align: center;
  font-weight: 500;
}

.regs-label-box {
  margin: 15px 0px 0px 0px;
}
.regs-label {
  color: #964bf6;
  margin: 10px 0px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 24px;
}

.regs-input-box {
  border-radius: 5px;
}

.regs-input {
  width: 400px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(190, 155, 229, 0.25),
    0px 0px 15px 4px rgba(178, 138, 226, 0.25);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
}

.regs-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.regs-btn {
  width: 160px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #964bf6;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  margin: 10px 0px 0px;
  font-weight: 500;
  font-size: 24px;
}

.signin-btn-box {
  font-size: 24px;
  margin-top: 10px;
}

.regs-span-signup {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.regs-signup-btn {
  cursor: pointer;
  color: #ff004d;
  font-weight: bold;
  justify-content: space-between;
}

.sign_in_icon {
  color: red;
}
