.admin-topbar {
  height: 80px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.title-adminPage {
  flex: 0.9;
  width: auto;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  font-weight: 500;
}

.angular-adminPage {
  color: #ff004d;
  margin: 0 0px;
}


.admin-name-container {
  /* width: 60%; */
  font-size: 36px;
  flex: 3;

}

.admin-topbar-icon-cont {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-topbar-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-icon {
  margin: 6px;
  width: 60px;
  cursor: pointer;
}

.admin-profile-text {
  align-self: center;
  padding: 10px;
}
