.bigdiv {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 97.5vh;
  overflow-y: hidden;
  position: relative;
}

.title-login{
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 124px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.loginImg-container {
  width: 500px;
  height: 350px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.loginimg {
    width: 550px;
}

.login-container {  
  width: 50%;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-heading-box {
  margin: 0 30px;
  padding: 0px;
  text-align: center;
  font-weight: 500;
}

.login-heading {
  margin: 12px;
  margin-left: -25px;
  color: #964BF6;
  font-weight: bolder;
  text-align: left;
  font-size: 56px;
  
}

.angular-login {
  color: #ff004d;
  margin: 0 0px;
}

.regs-label-box{
  margin: 15px 0px 0px 0px;
}

.regs-label-login{
  color: #964BF6;
  margin: 10px 0px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 24px;
}

.login-inputbox {
  border-radius: 5px;
}

.login-inputbox input {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(190, 155, 229, 0.25),
    0px 0px 15px 4px rgba(178, 138, 226, 0.25);
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

/* .login-btn-box {
  display: flex;
  justify-content: flex-start;
} */

.login-btn {
  width: 160px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #964bf6;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  margin: 10px 0px 0px;
  font-weight: 500;
  font-size: 24px;
}

.login-btn:disabled {
  cursor: not-allowed;
}

.signup-btn-box {
  margin: 15px;
  font-size: 20px;
  font-weight: 500;
}

/* .signup-btn {
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  color: #ff004d;
  margin: 15px 0 0 0px;
  justify-self: left;
  
} */
