.app {
    margin: 0 50px;
}

*::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
    position: relative;
}

*::-webkit-scrollbar-thumb {
    background: #814ac6; 
    border-radius: 10px;
    cursor: pointer;
  }
*::-webkit-scrollbar-track {
    background: #fff; 
  }

*::-webkit-scrollbar:horizontal {
    display: none;
}