.profile-container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  margin: auto;
  margin-top: 15px;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #b7d0f3 0%, #d9f6f8 74%);
  box-shadow: 0px 0px 15px rgba(204, 199, 199, 0.25);
  font-family: "Poppins";
  padding: 10px 20px;
}

.profile-image-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(6, 226, 101);
  
}

.camera-btn {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  align-self: flex-end;
  position: absolute;
  right: 0px;
  bottom: 15px;
  cursor: pointer;
}

.edit-icon {
  font-size: 20px;
  cursor: pointer;
}

.title-text {
  font-size: 28px;
  margin: 5px 0;
}

.desc-textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.desc-textcontainer-items {
  margin: 3px 0;
}

.std-overlay-cross{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 100px;
  right: 370px; 
  background-color: #fff;
  border-radius: 50%;
  z-index: 10000;
}